* {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block
}

li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

body {
    background-color: darksalmon;
}

h3 {
    color: black;
}

h2 {
    color: white;
}
.contact{
    margin-bottom: 15px;
    border: black solid 2px; 
    padding: 10px;
    width: 200px;
}
.gallery {
    margin-bottom: 20px;
    border:black solid 3px ;
    padding: 10px;
    width: 200px;
}